<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="Idea">
        <textarea name="Description" id=""></textarea>
        <select name="Tone" id="">
            <option value="Casual">Casual</option>
            <option value="Formal">Formal</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>